.container {
  position: relative;
  background-image: linear-gradient(
    to top,
    #0287c3,
    #0287bf,
    #0587bb,
    #0c86b6,
    #1386b2
  );
  height: 80vh;
  width: 100%;
}

.wave {
  position: absolute;
  height: 141px;
  width: 98%;
  background-image: linear-gradient(
    to top,
    #0287c3,
    #0287bf,
    #0587bb,
    #0c86b6,
    #1386b2
  );
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    #0287c3,
    #0287bf,
    #0587bb,
    #0c86b6,
    #1386b2
  );
  left: -1.5%;
  top: 40%;
}
.hero-section {
  margin-top: 150px;
  text-align: left;
  margin-left: 150px;
}
.hero-section > h1 {
  font-size: 3rem;
}
.hero-section > h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
.hero-section > h1,
h3 {
  color: #fff;
}
.hero-image {
  animation: bounce 5s infinite;
}
.news-btn {
  margin-top: 30px;
  background-color: #ff9800;
  color: #fff;
  width: 180px;
  height: 40px;
  border: #ff9800;
}
.wallet-btn {
  width: 180px;
  height: 40px;
}

.metamask-btn {
  border: 2px solid #ff9800;
  color: #fff;
  padding: 10px;
}
.metamask-btn:hover {
  background-color: #fff;
  color: #ff9800;
  border: #fff;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
/* Mobile friendly */

@media screen and (max-width: 768px) {
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    padding: 10px;
    text-align: center;
  }
  .hero-section > h1 {
    font-size: 2rem;
  }
  .hero-section > h3 {
    font-size: 1rem;
  }
  .news-btn {
    margin-top: 20px;
    width: 80%;
    border-radius: 5px;
  }
  .metasmask-btn {
    width: 80%;
    border: 2px solid #ff9800;
    color: #fff;
    padding: 7px;
    border-radius: 20px;
  }
  .hero-image {
    display: none;
  }
}
