.security-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  max-width: 600px;
  text-align: left;
}
.security-text-container > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.security-text-container > p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 170px;
}
